.tags_input_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.tags_input_label {
	color: rgb(45, 45, 45);
	font-weight: 900;
	padding: 10px 0;
}

.tags_input_items_list {
	display: flex;
	flex-direction: column;
	color: rgb(116, 116, 116);
	padding: 10px 0;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
}

.tags_input_items_list:focus-within {
	border-color: #ed9d093a;
}

.tags_input_items {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 10px;
}

.tags_input_item {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	padding: 7px 10px;
	background-color: #ed9f09;
	color: white;
	box-shadow: 0px 0px 2px 2px rgba(140, 67, 3, 0.183);
	border-radius: 10px;
}

.tags_input_item_close_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3px 3px 3px 10px;
	font-size: 20px;
	cursor: pointer;
}
.loading_icon {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 17px;
	margin: 3px 3px 3px 10px;
	animation: rotate-loading 1s infinite linear;
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.tags_input_items_list input {
	color: rgb(116, 116, 116);
	padding: 10px 20px;
	border: none;
	outline: none;
	flex-grow: 1;
}
