.sidebar_container {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 100%;
	margin: 40px;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
	padding: 20px 10px;
}

.sidebar_item {
	text-align: center;
	padding: 7px;
	margin: 10px;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
	background-color: #fae28c3a;
	color: #903101e6;
	font-weight: 900;
	cursor: pointer;
}

.sidebar_item:hover,
.sidebar_item_active {
	background-color: #903101e6;
	color: white;
}
