.login_wrapper {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

.login_wrapper .login_form {
	max-width: 600px;
	width: 100%;
	margin: 100px auto;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
	padding: 40px 40px;
}

.login_title {
	color: #883b15;
	text-align: center;
	padding: 20px;
}

.login_button_wrapper {
	margin: auto;
}

.errorMsg {
	color: red;
	font-weight: bold;
	margin-bottom: 20px;
}

.login_button {
	width: 100%;
	padding: 10px;
	background-color: #883b15;
	color: white;
	font-weight: 900;
	border: 3px solid rgba(157, 79, 11, 0.654);
	border-radius: 10px;
	box-shadow: 0px 0px 2px 2px rgba(140, 67, 3, 0.183);
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.login_wrapper {
		padding: 1rem;
	}
}
