.upper_section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid var(--primary-color-light);
}

.title {
	color: var(--primary-color);
	padding: 25px;
}

.buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
