.form_wrapper {
	padding: 10px;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
	padding: 0 20px;
	overflow-y: scroll;
	height: calc(100vh - 170px);
}

.form {
	width: auto;
	height: auto;
}

.form_button {
	width: 100%;
	padding: 10px;
	margin: 30px 0 20px 0;
	background-color: #883b15;
	color: white;
	font-weight: 900;
	border: 3px solid rgba(157, 79, 11, 0.654);
	border-radius: 10px;
	box-shadow: 0px 0px 2px 2px rgba(140, 67, 3, 0.183);
	cursor: pointer;
}
