* {
	-webkit-text-size-adjust: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "PT Sans", "Calibri", Tahoma, sans-serif;
	*:focus {
		outline: none;
	}
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}

*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: #903101e6;
	border-radius: 10px;
}
