* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
}

:root {
	/* --primary-color: #7b1101; */
	--primary-color: purple;
	--primary-color-light: rgb(162, 37, 162);
	--secondary-color: #fff;
	--black-color: rgba(0, 0, 0, 0.865);
	--background-color: rgb(255, 232, 193);

	--text-color: rgb(177, 175, 175);
	--text-color-highlight: rgb(132, 132, 132);
	--border-color: rgba(208, 206, 206, 0.5);

	--small-screen: 699px;
	--medium-screen-start: 700px;
	--medium-screen-end: 1000px;
}

/* The scroll bar styling */

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}

.dashboard_wrapper {
	display: flex;
	flex-flow: row unwrap;
	justify-content: center;
	min-height: 100vh;
}

.dashboard_item_left {
	border-right: 2px solid var(--border-color);
	width: 350px;
}

.dashboard_item_right {
	width: 100%;
}
