.list_pagination {
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list_pagination_icon {
	display: flex;
	align-items: center;
	margin: 0 30px;
	font-size: 30px;
	color: #903101e6;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.list_pagination_icon_disabled {
	opacity: 0.5;
	pointer-events: none;
}

.list_pagination_item {
	border-radius: 10%;
	background-color: #fae28c3a;
	color: #903101e6;
	border: 3px solid rgba(205, 205, 205, 0.404);
	padding: 3px 9px;
	margin: 0 10px;
	font-weight: bold;
	cursor: pointer;
}

.list_pagination_item:hover,
.list_pagination_item_active {
	background-color: #903101e6;
	color: white;
}
