.sidebar_container {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	height: calc(100vh - 170px);
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
	padding: 20px 10px;
	overflow-y: scroll;
}
.sidebar_container::-webkit-scrollbar {
	width: 0;
}

.sidebar_item {
	text-align: center;
	min-height: 40px;
	padding: 7px;
	margin: 10px;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
	background-color: #fae28c3a;
	color: #903101e6;
	font-weight: 900;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.sidebar_item:hover,
.sidebar_item_active {
	background-color: #903101e6;
	color: white;
}
