.dashboard_container {
	display: flex;
	max-width: 1350px;
	margin: auto;
	flex-direction: column;
}

.dashboard_main {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 500px;
}

.dashboard_content {
	height: 500px;
	width: 100%;
}
