.series_input_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.series_input_label {
	color: rgb(45, 45, 45);
	font-weight: 900;
	padding: 10px 0;
}

.series_input_items_list {
	display: flex;
	flex-direction: column;
	color: rgb(116, 116, 116);
	padding: 10px 0;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-radius: 10px;
}

.series_input_items_list:focus-within {
	border-color: #ed9d093a;
}

.series_input_items {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 10px;
}

.series_input_item {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	text-align: start;
	padding: 7px 10px;
	background-color: #ed9f09;
	color: white;
	box-shadow: 0px 0px 2px 2px rgba(140, 67, 3, 0.183);
	border-radius: 10px;
}

.series_input_item p {
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.series_input_item_close_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3px 3px 3px 10px;
	font-size: 20px;
	cursor: pointer;
	color: white;
}
.loading_icon {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 17px;
	margin: 3px 3px 3px 10px;
	animation: rotate-loading 1s infinite linear;
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.series_input_items_list input {
	color: rgb(116, 116, 116);
	padding: 10px 20px;
	border: none;
	outline: none;
	flex-grow: 1;
}

.suggest_series_list {
	max-height: 150px;
	overflow-y: scroll;
	background-color: #eee;
	border-radius: 5px;
	margin-top: 5px;
	border: 3px solid rgba(205, 205, 205, 0.404);
	border-bottom: 6px solid rgba(205, 205, 205, 0.404);
	padding: 0;
}

.suggest_series_list::-webkit-scrollbar {
	width: 0;
}

.suggest_series_list:not(:last-child) {
	border-bottom: 3px solid rgba(205, 205, 205, 0.404);
}

.suggest_series_list_item button {
	width: 100%;
	padding: 10px;
	text-align: start;
}

.suggest_series_list_item button:hover {
	background-color: rgba(205, 205, 205, 0.404);
	cursor: pointer;
}
